
<app-http-load-bar [state]="simpleHttp.loadState" class="loadBar"></app-http-load-bar>
  <nav class='fixTop bgNav'>
    <li class='gt-md-hidden'><button (click)="sideNav.toggle()" md-button><i class="fa fa-align-justify"></i></button> </li>
    <div class='logo'><i class="fa fa-youtube-play"></i><br><span style="font-size:12px;margin-top:5px">西瓜影屋</span></div>
    <li [routerLink]="'/'"  class="lt-md-hidden">
      <button md-button>
        <i class="fa fa-home fa-lg"></i>
      </button>
    </li>
    <li [routerLink]='i.index' routerLinkActive='active' class='lt-md-hidden' *ngFor='let i of _ts.msn.cgNav'>
      <button md-button>{{i.name}}</button>
    </li>
    <div class="minSearch bgNav">
      <app-search></app-search>
    </div>
  </nav>
  <nav></nav>
  <app-side-nav #sideNav>
    <div class="sideNavPaddingTop"></div>
    <md-list>
      <md-list-item class="pointer" routerLink="/">
      <div md-line  class="fontColor">
        <i class="fa fa-home mr1"></i>首页
      </div>
      </md-list-item>
      <h3 md-subheader>Movie List</h3>
      <md-list-item [routerLink]='i.index' routerLinkActive='active' class="pointer" *ngFor="let i of _ts.msn.cgNav">
        <h4 md-line >
          <div class="between">
            <span>{{i.name}}</span>
            <span ><a class="badge">{{i.count}}</a></span>
          </div>
        </h4>
      </md-list-item>
    </md-list>
  </app-side-nav>
	<div>
		<router-outlet></router-outlet>
	</div>

	<div class='footer'>

    <app-footer></app-footer>
	</div>

